input, button {
    border: 2px gray solid;
    border-radius: 5px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 2px solid black;
}

body {
    background-color: antiquewhite;
}

table {
    background-color: aqua;
    border: 2px solid gray;
    padding: 3px;
}

tr:nth-child(odd) {
    background-color: lightblue;
}

tr.header {
    font-size: larger;
    font-weight: bold;
    background-color: brown;
}

td {
    border: 2px solid gray;
}

td:first-child {
    font-weight: bold;
}